{% extends 'KnpRadBundle:Layout:h5bp.html.twig' %}

{% block headers %}
  {{ sonata_seo_title() }}
  {{ sonata_seo_metadatas() }}
  {{ sonata_seo_link_canonical() }}
  {{ sonata_seo_lang_alternates() }}
  {{ sonata_seo_oembed_links() }}
{% endblock %}
